@import '../../sass/variables';
@import '../../sass/mixins';

.password_manager {
  @include flex-center;
  .item_container {
    margin: 10px 15px;
    padding: 5px 10px;
    outline: 1px solid $gradient-clr1;
  }
  .btn {
    all: unset;
    padding: 5px 10px;
    outline: 2px solid $gradient-clr2;
    cursor: pointer;
  }
}
