@import '../../sass/variables';
@import '../../sass/mixins';

.password_manager {
  .item_container {
    margin: 10px 15px;
    display: flex;
    justify-content: center;
  }
  .text_box {
    padding: 5px 10px;
    outline: 1px solid $gradient-clr1;
    margin-right: 10px;
  }
  .btn {
    all: unset;
    padding: 5px 10px;
    outline: 2px solid $gradient-clr2;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}
