@import '../../sass/variables';

.border_anim {
  position: relative;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.border_anim > * {
  font-size: 30px;
  opacity: 0.99;
  z-index: 5;
  text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.25);
  color: white;
}

.border_anim::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 400%;
  background-image: linear-gradient($gradient-clr1, $gradient-clr2);
  z-index: 1;
  animation: spin 3s linear infinite;
}
.border_anim::after {
  content: '';
  position: absolute;
  width: 98%;
  height: 96%;
  background-color: $primary-clr;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
