@import '../../sass/variables.scss';
.header {
  width: 90%;
  margin: 0 auto;
}

.nav_bar {
  display: flex;
  align-items: baseline;
  margin: 10px 0;
}
.logo {
  flex: 1;
}
.nav_list {
  flex: 5;
  display: flex;
  justify-content: space-between;
}
