@import '../../sass/variables';
@import '../../sass/mixins';

.btn {
  all: unset;
  padding: 5px 10px;
  outline: 2px solid $gradient-clr2;
  cursor: pointer;
  display: flex;
  align-items: center;
}
